/* .body{
    border: 1px solid red;
    height: 600px;
    width: 100%; 
} */
.TrafficTop{
    border: 1px solid black;
    width: 40px;
    height: 130px;
    margin: 0px auto;
    background-color: gray;
}
.container{
    border: 1px solid black;
    border-radius: 8px ;
    width: 180px;
    height: 350px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.red{
    border-radius: 50%;
    width: 100px; 
    height: 100px;
    background-color: red;
}
.yellow{
    border-radius: 50%;
    width: 100px; 
    height: 100px;
    background-color: yellow;
}
.green{
    border-radius: 50%;
    width: 100px; 
    height: 100px;
    background-color: green;
    display: flex;
}
.light-on {
    box-shadow: 0 0 20px 10px rgba(212, 235, 11, 0.5);
}
  